# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Ignore Terraform configuration override files
*.override

# Ignore Terraform plan files
*.tfplan

# Ignore sensitive output
.terraform/

# Ignore variable configuration files
terraform.tfvars
